
.service-section{
  display: flex;
  max-width: 1400px;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 50px auto;
  padding: 0 20px;
}
.service-group{
  display:flex;
  flex-direction: row;
  width: 100%;
  margin-left: 200px;
  max-width: 1400px;
  align-items: center;
  justify-content: space-between;
  gap: 200px;
  margin-bottom: 80px;
}
.img-container{
  flex: 1; 
  max-width: 500px;
  width: 100%;
  height: auto; 
  display: block;
  position: relative;
  overflow: hidden;
  opacity: 1; 
  margin: 0; 
  border-radius: 50px;
  box-shadow: 0 4px 15px rgb(255, 152, 200);
  transition: transform 0.4s ease;
}
.img-container:hover{
  transform: scale(1.07);
}
.img-container img{
  width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
}
.s-content{
  flex: 1;
  max-width: 480px;
  text-align: left;
  display: block;
  margin: 0 auto; 
  padding: 20px 0; 
  gap: 0;
}
.s-content h1{
  text-transform: capitalize;
}
.s-content p{
  text-align: left;
  font-size: 25px;
}
.s-content p span{
  display: inline-block;
  margin-bottom: 15px;
  border-radius: 5px;
  white-space: nowrap;
}
.enquiryBtn{
  text-decoration: none;
  color: white;
  font-size: 25px;
  text-align: center;
  align-items: center;
  background-color: darkturquoise; 
  display: inline-block; 
  padding: 10px 20px;
  width: auto; 
  border-radius: 15px;
  margin-top: 20px;;
}
.enquiryBtn:hover{
  color: darkturquoise;
  background-color: white;
  border: 1px solid darkturquoise;
  transform: scale(1.07);
}
@media (max-width: 768px) {
  .service-section {
    max-width: 100%; 
    padding: 0 15px; 
  }
  .service-group {
    flex-direction: column; 
    margin-left: 0;
    align-items: center;
    gap: 40px; 
    max-width: 100%; 
  }
  .img-container {
     max-width: 90%; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
  }
  .s-content {
    max-width: 90%; 
    text-align: center; 
    padding: 0;
    margin: 0;
  }
  .s-content h1, .s-content p {
    text-align: left; 
    margin-left: 0;
    margin-right: 0;
  }
  .enquiryBtn {
    display: block; 
    width: fit-content; 
    margin: 20px auto 0 auto; 
  }
  .service-group-reversc-layout {
    flex-direction: column; 
  }
}